<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <!-- <h1>this is a about page</h1>
    <img src="<%= qrimage %>" alt=""> -->

    <div class="header-main">
        <div class="logo">
            <h1>Murdock</h1>
        </div>
        <div class="header-words">
            <p>Power : 85%</p>
            <p>Life : <img src="heart.png" alt=""> <img src="heart.png " alt=""> <img src="heart.png " alt=""> <img src="heart.png " alt=""> <img src="heart.png " alt=""></p>
        </div>
    </div>
    <div class="content-main">
        <p>Level Completed!!!</p>

    </div>
    <div class="back-words">
        <h1>
            LESS GOO
        </h1>
    </div>
    <div class="back-img">
        <img  class="imgone" src="Exclude.png" alt="">
        <img class="imgtwo" src="Union.png" alt="">
    </div>
    <div class="qr-main">

        <div class="qr-back">
            <img src="<%= qrimage %>" alt="">
        </div>
    </div>
    <div class="footer-two">
        <p>All rights reserved to Murdock</p>
    </div>
</body>
</html>