<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- <h1 class="headingtag">This is a home page</h1>
    <form action="/qrdata" method="post">
        <textarea name="userinput" placeholder="wassup!!!"></textarea>
        <button>send</button>
    </form> -->
    <div class="header-main">
        <div class="logo">
            <h1>Murdock</h1>
        </div>
        <div class="header-words">
            <p>Power : 85%</p>
            <p>Life : <img src="heart.png" alt=""> <img src="heart.png " alt=""> <img src="heart.png " alt=""> <img src="heart.png " alt=""> <img src="heart.png " alt=""></p>
        </div>
    </div>
        <div class="content-main">
            <h3>GAME ON !!!</h3>
        </div>
        <div class="back-img">
            <img  class="imgone" src="Exclude.png" alt="">
            <img class="imgtwo" src="Union.png" alt="">
        </div>
        <div class="box-overall">

            <div class="box-main">
                <div class="box-words">
                    <p>Level - 1</p>
                    <p>Difficulty - Hard</p>
                </div>
                <div class="box-form">
                    
                    <form action="/qrdata" method="post">
                        <textarea name="userinput" placeholder="wassup!!!"></textarea>
                    </div>
                    <div class="box-button">
                        
                        <button>Click me</button>
                    </div>
                </div>
            </div>
        <div class="footer-one">
            <p>
                 Note : This QR project is created using Html and Css with firebase as a backend database. The inspiration for this design is taken from 80’s gaming ui design.
            </p>
        </div>
        <div class="footer-two">
            <p>All rights reserved to Murdock</p>
        </div>


</body>
</html>